# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# FastAPI specific
*.log
*.pid
*.sqlite3
instance/
*.db

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# System files
Thumbs.db

# secrets
.env